.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  gap: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.todo-list {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid #147814;
  margin-bottom: 20px;
}

.todo-item.completed h3 {
  text-decoration: line-through;
  color: rgb(144, 77, 77);
}

.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  border: 2px solid black;
  z-index: 10;
}

.dark {
  background: #222;
  color: #fff;
}

.dark .todo-item {
  border-color: #555;
}

.dark .modal {
  background: #333;
  color: #fff;
}
